@code {

}
<div class="bottom-navbar">
    <a href="/" class="nav-item">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    <a href="/log-workout" class="nav-item">
        <i class="fas fa-pen"></i> <!-- ikonica za log -->
        <span>Log</span>
    </a>
    <a href="/explore" class="nav-item">
        <i class="fas fa-compass"></i> <!-- explore -->
        <span>Explore</span>
    </a>
    <a href="/users" class="nav-item">
        <i class="fas fa-user-friends"></i> <!-- members -->
        <span>Korisnici</span>
    </a>
    <a href="/more" class="nav-item">
        <i class="fas fa-ellipsis-h"></i> <!-- more -->
        <span>More</span>
    </a>
</div>
