@page "/"
@page "/login"
@using Clients
@using MAUI_Blazor_GymManager.Authentication.Token
@using Services.Interfaces
@inject NavigationManager Navigation
@inject IAuthApi AuthApi
@inject ITokenStorage TokenStorage
@inject INotificationService NotificationService


<h3>Login</h3>

<form @onsubmit="HandleLogin">
    <div>
        <label>Email:</label><br />
        <input type="text" @bind="Username" />
    </div>

    <div style="margin-top: 10px;">
        <label>Lozinka:</label><br />
        <input type="password" @bind="Password" />
    </div>

    <div style="margin-top: 15px;">
        <button type="submit">Prijavi se</button>
    </div>
</form>

@code {
    private string Username = string.Empty;
    private string Password = string.Empty;

    private async Task HandleLogin()
    {

            var response = await AuthApi.Login(new LoginRequest
                {
                    Username = Username,
                    Password = Password
                });

            if (response.Data != null)
            {
                var token = response.Data;

                // Čuvaj refresh token
                await TokenStorage.SaveRefreshTokenAsync(token.RefreshToken);

                // Redirektuj korisnika na početnu stranicu
                Navigation.NavigateTo("/home", forceLoad: true);
            }
    }
}